body {
  background-image: url("../img/fondo.jpg");
}

.shaped{
    width:100%;
    background: black url("../img/fondoGris.png") center top no-repeat;
    background-size:cover;
    clip-path: polygon(0 0, 20% 0, 24% 8%, 100% 10%, 100% 60%, 24% 62%, 20% 52%, 0 52%);
}
.areaDatos{
  width:50%;
  float: right;
  padding: 1.5vw 3vw;
  background-color: #333;
}
.areaImagen{
  width:50%;
  float: left;
  padding: 1.5vw 3vw;
}
.areaHabilidades{
  padding: 1.5vw 3vw;
  background-color: #333;
}
/*////////////////////////////Para el menu superior///////////////////////////*/
.header{
  width: 100%;
  overflow: hidden;
  padding: 1.5vw 3vw;
  text-decoration: none;
  background-color: #333;
}
.contenidoHeader{
  width: 40%;
  float: left;
  color: white;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul.topnav li {float: right;}
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.5vw 3vw;
    text-decoration: none;
}
ul.topnav li a:hover:not(.active) {
  background-color: #111;
}
ul.topnav li a.active {
  background-color: #75A8BD;
}
