body {
  background-image: url("../img/fondo.jpg");
}
/*////////////////////////////Para el menu superior///////////////////////////*/
.tituloHeader{
  font-size: 32px;
  font-family: 'Barlow Condensed', serif;
}
.header{
  width: 100%;
  height: 96px;
  background-color: #454545;
}
.inputHeader{
  width: 30%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Barlow Condensed', serif;
  background-color: white;
  background-image: url('../searchicon.png');
  background-position: 5px 5px;
  background-repeat: no-repeat;
  padding: 6px 20px 4px 30px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.inputHeader:focus {
    width: 50%;
}
.contenidoHeader{
  width: 40%;
  float: left;
  color: white;
  padding-top: 1%;
  padding-left: 3%;
}
.divNav{
  width: 50%;
  float: right;
  color: white;
  padding-top: 1%;
}
ul.topnav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Barlow Condensed', serif;
}
ul.topnav li {
  float: left;
}
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.5vw 3vw;
    text-decoration: none;
}
ul.topnav li a:hover:not(.active) {
  background-color: #111;
}
ul.topnav li a.active {
  background-color: #75A8BD;
}

.shaped{
    width:100%;
    height: 352px;
    background-color: #818181;
    background-size:cover;
    clip-path: polygon(0 0, 20% 0, 25% 10%, 100% 10%, 100% 90%, 25% 90%, 20% 80%, 0 80%);
}
.areaDatos{
  position: relative;
  width: 60%;
  height: auto;
  top: -70%;
  float: right;
  right: 4%;
  background-color: #333;
  font-family: 'Barlow Condensed', serif;
}
.areaImagen{
  width: 192px;
  height: auto;
  text-align: center;
}
.imagen{
  width: 150%;
  height: 150%;
}
.areaHabilidades{
  
}
.shaped-abilities{
    width:100%;
    height: 256px;
    background-color: #454545;
    background-size:cover;
    clip-path: polygon(21% 0, 23% 14%, 100% 14%, 100% 71%, 0 71%, 0 0);
}


.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 100%;
  margin: auto;
  width: 100%;
  animation: float 5s infinite;
}
.table-text-left{
  background: #4E5066;
  color: white;
  padding-left: 0px;
  padding-right: 20px;
  text-align:right;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  border: 2px solid #4CAF50;
}
.table-text{
  background: #FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border: 2px solid #4CAF50;
}
.table-text:hover{
  color: white;
  background:#4E5066;
}
