body {
  background-image: url("../img/fondo.jpg");
}
/*////////////////////////////Para el menu superior///////////////////////////*/
.tituloHeader{
  font-size: 32px;
  font-family: 'Barlow Condensed', serif;
}
.header{
  width: 100%;
  height: 96px;
  background-color: #333;
}
.inputHeader{
  width: 30%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Barlow Condensed', serif;
  background-color: white;
  background-image: url('../searchicon.png');
  background-position: 5px 5px;
  background-repeat: no-repeat;
  padding: 6px 20px 4px 30px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.inputHeader:focus {
    width: 50%;
}
.contenidoHeader{
  width: 40%;
  float: left;
  color: white;
  padding-top: 1%;
  padding-left: 3%;
}
.divNav{
  width: 50%;
  float: right;
  color: white;
  padding-top: 1%;
}
ul.topnav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Barlow Condensed', serif;
}
ul.topnav li {
  float: left;
}
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.5vw 3vw;
    text-decoration: none;
}
ul.topnav li a:hover:not(.active) {
  background-color: #111;
}
ul.topnav li a.active {
  background-color: #75A8BD;
}

.shaped{
    width:100%;
    background: black url("../img/fondoGris.png") center top no-repeat;
    background-size:cover;
    clip-path: polygon(0 0, 20% 0, 24% 8%, 100% 10%, 100% 60%, 24% 62%, 20% 52%, 0 52%);
}
.areaDatos{
  width:50%;
  float: right;
  padding: 1.5vw 3vw;
  background-color: #333;
}
.areaImagen{
  width:50%;
  float: left;
  padding: 1.5vw 3vw;
}
.areaHabilidades{
  padding: 1.5vw 3vw;
  background-color: #333;
}
